<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.augur.mapper.system.QuestionsAndAnswersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qihang.augur.entity.system.QuestionsAndAnswers">
        <result column="q_id" property="qId" />
        <result column="questions" property="questions" />
        <result column="answers" property="answers" />
    </resultMap>

</mapper>
